<div class="dashboard-container">
    <div class="sidebar">
      <div class="sidebar-content">
        <div class="sidebar-header">
          <i class="fas fa-bars"></i>
         
        </div>
        <a class="sidebar-link" routerLink="/list-promotions">
          <i class="fas fa-users"></i>
          <span>list promotions</span>
        </a>
        <a class="sidebar-link" routerLink="/List-Invoices">
          <i class="fas fa-envelope"></i>
          <span>List-Invoices</span>
        </a>
        <a class="sidebar-link" routerLink="/list-tools-admin">
          <i class="fas fa-envelope"></i>
          <span>tools</span>
        </a>
        <a class="sidebar-link" routerLink="/add-tools">
            <i class="fas fa-envelope"></i>
            <span>add tool</span>
          </a>

          <a class="sidebar-link" routerLink="/new-user">
            <i class="fas fa-users"></i>
            <span>add user</span>
          </a>
          <a class="sidebar-link" routerLink="/all-users">
            <i class="fas fa-users"></i>
            <span>all-users</span>
          </a>
      </div>
    </div>
    <div class="main-content">
      <!-- Your main content goes here -->
    </div>
  </div>
  