<div class="container">
  <div class="header">
    <button class="header-button" routerLink="/inscription">Sign Up</button>
    <div class="title">buy-me</div>
    <button class="header-button" routerLink="/signin">Sign In</button>
  </div>
  <div class="content">
    <p class="paragraph">
      Discover the ultimate destination for all your cosmetic needs at our online marketplace. With an extensive range of products from top brands in skincare, makeup, haircare, and more, we offer a seamless shopping experience tailored to your beauty preferences. Whether you're searching for the latest skincare innovations, vibrant makeup shades, or luxurious hair treatments, our platform connects you with a diverse array of high-quality products to enhance your beauty routine.
    </p>
    <p class="paragraph">
      At our online store, we prioritize authenticity, quality, and customer satisfaction above all else. Each product in our curated collection is carefully selected to meet our rigorous standards, ensuring that you receive only the best cosmetics from trusted brands. From cult-favorite classics to emerging trends, we strive to provide a comprehensive selection that caters to every beauty enthusiast's desires.
    </p>
    <p class="paragraph">
      Shopping with us is not just about purchasing products; it's about indulging in a transformative beauty experience. Our user-friendly interface, detailed product descriptions, and helpful customer reviews empower you to make informed decisions and discover new favorites with confidence. Whether you're a skincare novice or a makeup aficionado, our platform welcomes beauty enthusiasts of all levels to explore, experiment, and express themselves through the art of cosmetics.
    </p>
    <p class="paragraph">
      In addition to our commitment to quality and variety, we pride ourselves on offering exceptional customer service and support. Our dedicated team is here to assist you every step of the way, from browsing our catalog to post-purchase assistance. We value your feedback and strive to continuously improve our platform to better serve your needs and exceed your expectations.
    </p>
    <p class="paragraph">
      Join our community of beauty lovers and experience the convenience, reliability, and joy of shopping for cosmetics online. Whether you're treating yourself to a well-deserved indulgence or searching for the perfect gift for a loved one, our online marketplace is your one-stop destination for all things beauty. Explore our collection today and embark on a journey to discover your most radiant self.
    </p>
  </div>

</div>
